*{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}
a{
  text-decoration: none !important;
}
@font-face {
    font-family: 'Montserrat-black'; /*a name to be used later*/
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap'); /*URL to font*/
}

.navbar-nav a{
  text-decoration: none !important;
  color: black !important;
  /* font-size: 1.4em; */
  /* font-weight: lighter; */

}
.navbar{
  background-color: none;
  background: none !important;
}
.active {
  padding: 0px 10px 0px 10px;
  border-bottom: 2px solid transparent;
}
.active:hover{
  border-color: #ff0000;
  transition: border-color 1.3s;
}
header{
  display: flex;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/menuban.png);
  background-size: cover;
  background-position: 50% 50%;
}
#align-right{
  margin-right: 2vh;
  font-size: .9em;
}
#align-left{
  margin-left: 8vh ;
}
#menulogo{
  position: relative;
  margin-top: 10vh;
  margin-left: 70vw;
}
header p{
  position: relative;
  margin-left: 68vw;
  margin-top: 15vh;
  width: 20vw;
  font-size: 1.2em;
  font-weight: bold;
}
.sidemenu{
  background-color: #FF7979;
  width: 20vw;
  height: 500vh;
  z-index: ;
}
.sidemenu a{
  font-family: 'Open Sans', sans-serif;
  font-weight:lighter ;
  text-align: center;
  position: relative;
  font-size: 1.7em;
  text-decoration: none !important;
  color: white !important;
}
#burg{
  position: absolute;
  margin-top: 40vh;
  margin-left: 3vw;
}
#bev{
  position: absolute;
  margin-top: 50vh;
  margin-left: 3vw;
}
#fries{
  position: absolute;
  margin-top: 60vh;
  margin-left: 3vw;
}
#combo{
  position: absolute;
  margin-top: 70vh;
  margin-left: 3vw;
}
#specials{
  position: absolute;
  margin-top: 80vh;
  margin-left: 3vw;
}
#arrow{
  position: absolute;
  color:white;
  font-size: 2em;
  margin-top: 3vh;
  margin-left: 13vw;
}
.main-content{
  /* z-index: -1; */
  text-decoration: none;
  width: 100%;
  height: 500vh;
  position: absolute;
  text-align: center;
}
.burgersection h2{
  margin-top:10vh;
  font-weight: bold;
  color: black;
  margin-left:60vh;
}
.smallpost{
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 10vh;
  text-align: center;
  margin-left: 35vw;
  width: 40vh;
  height: 54vh;
  background-color: #fff;
  border-radius: 4vh;
  box-shadow: 0px 0px 10px #FF7272;
}
.smallpost img{
  border-radius: 50%;
  margin-top: 2vh;
}
.smallpost h3{
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 2vh;
}
#Price{
  font-size: 1.3em;
  font-weight: bolder;
  color: #FF5A5A;
  float: left;
  margin-left: 6vh;
}
#dollar{
  font-size: 1.3em;
  font-weight: bolder;
  color: black;
  float: left;
  margin-left: 12vh;
}
.buy{
  text-decoration: none;
  background-color: #A0FFB0;
  color: white !important;
  float: left;
  margin-left: 5vh;
  margin-top: 3vh;
  padding:1vh 3vh;
  border-radius: 4vh;

}
#calorie{
  font-size: 0.9em;
  color: #7D7D7D;
  float: left;
  margin-top: 4vh;
  margin-left: 10vh;
}
.post2{
  margin-left:70vw;
}
.post3{
    margin-top: 100vh;
}
#Beverages{
  position: absolute;
  margin-left: 58%;
  margin-top: 80vh;
}
.post4{
  margin-left:70vw;
  margin-top: 100vh;
}
.post5{
  margin-left:70vw;
  margin-top: 190vh;
}
.fries{
  position: absolute;
  margin-left: 58%;
  margin-top: 170vh;
  font-weight: bold;
  margin-left:60vw;
  color: black;
}
.post6{
    margin-top: 190vh;
}
.post6 img{
    border-radius: 50%;
}
.combo{
  position: absolute;
  margin-left: 58%;
  margin-top: 260vh;
  font-weight: bold;
  margin-left:60vw;
  color: black;
}
.post7{
  margin-left:70vw;
  margin-top: 280vh;
}
.post8{
  margin-top: 280vh;
}
.post10{
  margin-left:70vw;
  margin-top: 380vh;
}
.post9{
  margin-top: 380vh;
}
.special{
  position: absolute;
  margin-left: 58%;
  margin-top: 360vh;
  font-weight: bold;
  margin-left:60vw;
  color: black;
}
.clip {
    position: absolute;
    background: #fd79a8;
    padding: 1em;
    border-radius: 10px;
    width: 37vh;
    clip-path: circle(10% at 89.1% 25%);
    margin-left: 75vw;
    z-index: 4;
    margin-top: 8vh;
    transition: all .5s ease-in-out;
    text-align: center;

}



.clip span {
    text-align: center;
    justify-content: center;
    float: right;
    color: white;
    font-weight: bolder;
    font-size: 1.6em;
    transition: color .3s;
    position: relative;
    box-shadow:0px 0px 10px #0000;
}

.clip h1 {
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
    /* margin-left: -15px; */
}

.clip:hover {
    box-shadow: 0px 1px 20px #a29bfe;
    clip-path: circle(80%);
    background: #81ecec;
}

.clip p {
    color: white;
    font-size: .9rem;
}

.clip span:hover {
    color: #81ecec;
}
.form-control{
  float: right;
  text-align: center;
  width:60px !important;
}
#select{
  text-align: center;
  margin-left: 2vw !important;
}
.page-footer{
  background-color: #dfe6e9 !important;
}
