*{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}
html {
  width: 100%;
  height: 100%;
}
body{
  background: url(../images/border2.png) no-repeat;
  background-position: 100% 450%;
  /* background-size: cover; */
}
@font-face {
    font-family: 'Open-Sans'; /*a name to be used later*/
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap'); /*URL to font*/
}
.navbar {
  position: relative;
  background: none !important;
  /* z-index: 100; */
}
.navbar a{
  font-weight: 600;
  margin-right: 4vw;
  font-size: 1em;
}

.food{
  box-shadow: 0px 1px 9px #000;
}
.active {
  padding: 0px 10px 0px 10px;
  border-bottom: 2px solid transparent;
}

.active:hover{
  border-color: #ff0000;
  transition: border-color 1.3s;
}
.content {
  font-family: "Montserrat";
  text-align: left;
  width: 75%;
  margin-left: 150px;
  margin-top: 80px;
  float: left;
}

.content h1 {
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ff7675;
  width: 40%;
  color: #fff;
  font-weight:600;
  border-radius: 4vh;
}

.content img {
  margin-top: 20vh;
  float: right;
  width: 40%;
  height: 40%;

}

.content p {

  font-size: 16px;
}

.inner-content {
  width: 45%;
  /* margin-left: 10px; */
  margin-top: 50px;
  box-shadow: 0px 0px 10px;
  border-radius: 20px;
  text-align: center;
  padding: 30px 10px 30px 10px;
}

.content h2 {
  text-align: center;
  margin: 50px 0px 30px 0px;
}

ul {
  list-style-type: none;
}

.sub-content {
  margin-left: 160px;
}

.box-content {
  width: 75%;
  text-align: center;
  box-shadow: 0px 0px 10px #FF7272;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 30px 50px 30px 50px;
}

/*.sub-content img {
  width: 12%;
  height: 12%;
  float: left;
  margin-left: -40px;
  margin-top: 15px;
}*/

.sub-content img {
  border-radius: 50%;
  position: absolute;
  width: 7.5%;
  height: 15%;
  margin-top: 25px;
  margin-left: -65px;
}
.page-footer{
  margin-top: 210vh;
}
@media (min-width:1367px){
  .content img{
    margin-top: 10vh;
  }
}
